

<section class="h-100 h-custom" style="background-color: #8fc4b7;" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
  
              <form class="px-md-2" [formGroup] = "formUser" (ngSubmit)="onSubmit()" >
  
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Name</label>
                  <input type="text" id="inputName" formControlName = "inputName"  class="form-control" />
                  <span *ngIf = "!formUser.get('inputName')?.valid && formUser.get('inputName')?.touched" [ngStyle]="{'color':'red'}">Please Enter name</span>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline datepicker">
                        <label for="exampleDatepicker1" class="form-label">Date Of Birth</label>
                      <input type="text" class="form-control" id="inputDOB" formControlName ="inputDOB"  />
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
                    <select class="select">  
                      <option value="1">Gender</option>
                      <option value="2">Male</option>
                      <option value="3">Female</option>
                      <option value="4">Other</option>
                    </select>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q" >Address</label>
                  <input type="text" id="inputAddress" formControlName="inputAddress" class="form-control" />
                </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
    
                      <div class="form-outline datepicker">
                          <label for="exampleDatepicker1" class="form-label" >City</label>
                        <input type="text" class="form-control" placeholder="State" formControlName="inputCity" id="inputCity" />
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4">
                      <select class="select"  >  
                        <option value="1">State</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Kerla">Kerla</option>
                        <option value="Andhra">Andhra</option>
                      </select>
                    </div>  </div>
                
                <button type="submit"   class="btn btn-success btn-lg mb-1">SignUp</button>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
